.progressDiv {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.progress {
    margin-bottom: 1rem;
}

progress[value] {
    appearance: none;
    border: none;
    width: 100%;
    height: 5px;
}

progress[value]::-webkit-progress-bar {
    background-color: var(--lightGrey);
    border-radius: .625rem;
}

progress[value]::-webkit-progress-value {
    background-color: var(--primaryColor);
    border-radius: .625rem;
}

.progressTitle {
    color: var(--comentarioBlack);
    font-size: .75rem;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: .15em;
    line-height: 1rem;
}

.progressCount {
    color: var(--comentarioBlack);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .15em;
    line-height: 1.375rem;
}
